/*Inter font family*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: rgb(17,17,17,100%);
}
/*Shared Style*/
.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Nav item style*/
.nav-all-items{
   display: flex;
   align-items: center;
   padding: 30px 100px 0px 100px;
   justify-content: space-between;
}
.nav-items .nav-item{
    list-style: none;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.border-shape-menu{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    color: #fff;
}
.header-title{
    color: rgb(230, 83, 60);
    font-size: 25px;
    font-weight: 800;
    line-height: 125%;
    text-align: left;
}
.nav-item{
    color: rgb(255, 255 ,255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.nav-all-items .hamburger-button{
    
        display:none;
    
}

/*responsive*/

/*Medium Device*/
@media only screen and (max-width: 992px) and (min-width:576px){
    /*Nav item style*/
    .nav-all-items{
        padding: 40px 25px 50px 25px;

    }
    .nav-items{
        gap: 25px;
    }
    .border-shape-menu{
        padding: 6px 15px 6px 15px;
    }
}

/*Small Device*/
@media only screen and (max-width: 576px){
    /*Nav item style*/
    .nav-all-items{
        padding: 40px 25px 50px 25px;
    }
    .nav-items{
        display: none;
        
    }
    .nav-all-items .hamburger-button{
            background: rgb(17,17,17,100%);
            color: white;
            padding: 15px;
            font-size: 24px;
            cursor: pointer;
            display: inline;
            border: none;
    }
   
}


/*get body section*/

.get-body-section{
    display: flex;
    padding: 0px 100px 100px 100px;
    justify-content: space-between;
}
.get-body-textbtn-part{
    padding-top: 40px;
    margin-right: 60px;
    width: 599px;
    height: 440px;
}
.get-body-img-part{
    padding-top: 32px;
    width: 349px;
}
.get-body-img-part img{
    width: 349px;
    height: 450px;
}

.get-body-textpart-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 65px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.get-body-textpart-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.join-btn{
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    border: none;
    margin-right: 14px;
}
.Download-btn{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(0,0,0);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
}
.join-btn ,.Download-btn{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.box1{
    position: absolute;
    width: 193px;
    height: 98px;
    left: 1107px;
    top: 260px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
   
}
.box2{

    position: absolute;
    width: 193px;
    height: 98px;
    left: 787px;
    right: -667px;
    top: 434.61px;
    bottom: -426.61px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.box1 h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}
.box1 p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.box2 h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}
.box2 p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}


/*responsive*/

/*Medium Device*/
@media only screen and (max-width: 992px) and (min-width:576px){
    .get-body-section{
        display: inline;
        padding: 40px 25px 50px 25px;
        margin: 0px auto;
    }
    .box1 {
    position: absolute;
    width: 193px;
    height: 98px;
    left: 311px;
    top: 721px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
    .box2 {
        position: absolute;
        width: 193px;
        height: 98px;
        left: 71px;
        right: -367px;
        top: 947.61px;
        bottom: -426.61px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
    }
}

/*Small Device*/
@media only screen and (max-width: 576px){

    .get-body-section{
        display: block;
        padding: 0px 100px 100px 100px;
    }
   
}

.change-habit{
    padding: 30px 100px 0px 100px;
}
.habit-img-part{
    display: flex;
    
}
.habit-description,.habit-title{
  text-align: center;
}

.habit-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
  }
.habit-image{
    border-radius: 50%;
}

.habit-img-part h3{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}
.habit-img-part p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}

.habit-img-part1{
    margin-right: 40px;
    text-align: center;
}
.habit-img-part2{
    margin-right: 40px;
    text-align: center;
}
.habit-img-part3{
    margin-right: 40px;
    text-align: center;
}
.habit-img-part
{
    margin-top: 40px;
}

.run-extra{
    display: flex;
    margin: 30px 100px 50px 100px;
    padding: 35px 25px 30px 35px;
    position: static;
    height: 300px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-extra-img-part img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    background: url(4);
}
.run-extra-text-part{
    margin-left: 100px;
}
.run-extra-text-parts{
    margin-right: 100px;
}
.run-extra-text-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 35px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.run-extra-text-descr{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-align: left;
}
.run-extra-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-top:10px ;
    padding: 16px 40px 16px 40px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
}


.row{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 32px 100px 0px 100px;
}
.row img{
    width: 100%;
    height: 220px;
}
.row2{
    display: grid;
    grid-template-columns: 1.5fr .70fr 1fr;
    padding: 0px 100px 20px 100px;
    
}
.row2 img{
    width: 100%;
    height: 100%;
}
.training-excercise-title{
    padding: 16px 100px 0px 100px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.training-excercise-descr{
    padding: 0px 100px 0px 100px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.row{
    margin-bottom:-5px;
}

table, td, th {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  table {
    width: 310px;
    height: 216px;
    border-collapse: collapse;
    width: 50%;
  }
  .bmi-calculator-charts{
    display: grid;
    grid-template-columns:1.5fr 2fr;
    background: rgb(34, 34, 34);
    padding: 50px 100px 50px 100px;
  }
  .bmi-calculator-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }
  .bmi-calculator-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  .bmi-calculator-chart-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }
  .cal-bmi{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }
  .bmi-title-des{
    margin: 50px 204px 55px 204px;
  }
  th,td{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 80%;
    letter-spacing: 0%;
    text-align: center;
  }
  .cal-bmi-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  input[type="text"]{
    border-radius: 8px;
    padding: 12px 40px 12px ;
    background: rgba(255, 255, 255, 0.1);
    border:none;
    margin-right: 5px;
    margin-bottom: 5px;
 }
  input[type="number"]{
    border-radius: 8px;
    padding: 12px 40px 12px ;
    background: rgba(255, 255, 255, 0.1);
    border:none;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  select{
    border-radius: 8px;
    padding: 12px 146px 9px 35px;
    background: rgba(255, 255, 255, 0.1);
    border:none;
    color: rgba(255, 255, 255, 0.38);
  }
  select option{
    text-align: left;
    /* color: rgba(255, 255, 255, 0.1); */
  }
  
  .select-two{
    padding-right:312px;
    margin-bottom: 8px;
  }
  .cal-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;
    margin-top: 18px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  .meet-our-team{
    margin: 58px 165px 88px 121px;
  }

  .meet-our-team-textdes{
   width: 600px;
   margin: 0px auto;
  }
  .meet-our-team-textdes h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .meet-our-team-textdes p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
  }
  .row3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 60px 20px 60px;
    gap:20px;
    justify-content: center;
    border-radius: 18px;

    /* background: rgba(255, 255, 255, 0.1); */
  }
  .row4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 60px 20px 60px;
    gap:20px;
    justify-content: center;
    border-radius: 18px;
  }

  .row-background{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
  }
  .row3 img{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
  }
 .row4 img{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
  }

   footer{
    padding: 66px 100px 35px 100px;
   }
   .footers{
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
   }

    .get-start1{
        margin-right:100px;
    }
    .get-start1 h2{
        color: rgb(230, 83, 60);
        font-size: 40px;
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    .get-start1 p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
    }
    .get-start2 h2{
        color: rgb(255, 255, 255);
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    .get-start3 h2{
        color: rgb(255, 255, 255);
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    .get-start2>ul>li{
        list-style: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 20px;
    }
    .get-start3>ul>li{
        list-style: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 20px;
    }
    .footer-des{
        color: rgba(255, 255, 255, 0.5);
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
    }

/***********responsive**************/
/*Large Device*/

/*Medium Device*/
@media only screen and (max-width: 992px) and (min-width:576px){
   
}

/*Small Device*/
@media only screen and (max-width: 576px){

    
   
}